.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Three columns with equal width */
  grid-gap: 10px; /* Gap between grid items */
  margin: 0 auto; /* Center the grid container */
}

.box {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
  }