.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CourseStyles.css */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0px; /* Adjust the horizontal margin */
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 16px;
}

.card-image {
  width: 250px;   /* Fixed width */
  height: 200px;  /* Fixed height */
  object-fit: cover;
  border-radius: 8px;
  /* Center the image both horizontally and vertically */
  display: block;
  margin: auto;
}

h1 {
  text-align: center;
  margin: 16px 0;
}

/* CourseStyles.css */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25px, 1fr));
  gap: 16px 0px;
  padding: 19px;
}

@media (max-width: 50px) {
  .card-container {
    width: 100%;
  }
}
